# Responsibid Production Environment (also used for Beta)

AWS_ACCESS_KEY_ID="op://{{ .responsibid.vault }}/{{ .responsibid.production.aws_item }}/access key id"
AWS_SECRET_ACCESS_KEY="op://{{ .responsibid.vault }}/{{ .responsibid.production.aws_item }}/secret access key"
AWS_DEFAULT_REGION="op://{{ .responsibid.vault }}/{{ .responsibid.production.aws_item }}/default region"
